POSTGRES_DB=studio
POSTGRES_USER=studio
POSTGRES_PASSWORD=change_me
LOCAL_USER_EMAIL=local@studio.invalid
OLLAMA_MODEL=qwen3:8b
MIROFISH_BASE_URL=http://host.docker.internal:5001
ESPEAK_VOICE=en-us
ESPEAK_RATE=155
TZ=Europe/Skopje
